.fondo{
	/*position: fixed;*/
	width: 100%;
	height: 100;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.img-fondo{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;	
	background: url("../img/fondo.jpg");
	background-size: 100% auto;	
	filter: blur(1px);
}
.vertical-offset-100{
	height: 100%;
	background-color: rgba(178, 193, 253, 0.75);
	padding-top: 5%;
	padding-bottom: 18%;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 5px;
	-webkit-box-shadow: 6px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    6px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         6px 3px 5px 0px rgba(50, 50, 50, 0.75);	
}
.cajalogin{
	padding-top: 15%;
}
.vertical-offset-15{
	padding-top: 10%;
	margin-left: 15%;	
}
.imgslider{
	border-radius: 10px;
}
